@page "/"
@model Chiperi_Geanina_Proiect.Pages.Phones.IndexModel

@{
    ViewData["Title"] = "Phones";
}

<h1>Phone store</h1>

<p>
    <a asp-page="Create">Click here to add a new product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].Brand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone[0].PhoneCategories)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PhoneD.Phones)
        {
            string selectedRow = "";
            if (item.ID == Model.PhoneID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @{
                    foreach (var category in item.PhoneCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
